# Node
node_modules/
dist/
.env
*.log

# VS Code
.vscode/

# AI Models
*.pt
*.h5
*.pkl

# Python Environment
venv/

# Python Build Junk
__pycache__/
*.pyc


# macOS / Linux
.DS_Store
Thumbs.db

*.png
*.jpg
*.jpeg
*.zip
build/